{% if profile.profileName == 'facebook' %}
<h2>Facebook User</h2>
{% elseif profile.profileName == 'twitter' %}
<h2>Twitter Profile</h2>
{% endif %}

<h3>{{ profile }}</h3>
<h5>Separation degree : {{ bacon }}
{% if profile.isActive %}
<span class="label label-info">Active User</span>
{% else %}
    <span class="label label-warning">Non-active User</span>
    {% if profile.profileName == 'twitter' %}
        <a href="https://twitter.com/intent/tweet?text=Hey @{{ profile.screenName }} you should join us on http://baconfinder.com" target="_blank"> Invite on Twitter</a>
    {% elseif profile.profileName == 'facebook' %}
        <a href="https://www.facebook.com/sharer/sharer.php?u=Hey {{ profile.__toString }} you should join us on http://baconfinder.com" target="_blank"> Invite on Facebook</a>
    {% endif %}
{% endif %}
</h5>